<footer class="g-bg-main-light-v1">
  <!-- Content -->
  <div class="g-brd-bottom g-brd-secondary-light-v1">
    <div class="container g-pt-100">
      <div class="row g-mb-30 g-mb-0--md">
        <div class="col-md-3 g-mb-30">
          <h2 class="h5 g-color-gray-light-v3 mb-4">Sản Phẩm</h2>
          
            <!-- Links -->
            <ul class="list-unstyled g-font-size-13 mb-0">
              <li class="g-mb-10">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#">Rau, Củ, Quả</a>
              </li>
              <li class="g-my-10">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#">Hoa</a>
              </li>
              <li class="g-my-10">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#">Trái Cây</a>
              </li>
              <li class="g-my-10">
                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#">Cây Cảnh</a>
              </li>

            </ul>
            <!-- End Links -->
          
        </div>

        <div class="col-md-4 ml-auto g-mb-30 g-mb-0--sm">
          <h2 class="h5 g-color-gray-light-v3 mb-4">Liên Hệ</h2>

          <!-- Links -->
          <ul class="list-unstyled g-color-gray-dark-v5 g-font-size-13">
            <li class="media my-3">
              <i class="d-flex mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
              <div class="media-body">
                999 Giải Phóng, Hà Nội
                <br>
                Việt Nam
              </div>
            </li>
            <li class="media my-3">
              <i class="d-flex mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
              <div class="media-body">
                mica@support.com
              </div>
            </li>
            <li class="media my-3">
              <i class="d-flex mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
              <div class="media-body">
                +32 333 444 555
              </div>
            </li>
          </ul>
          <!-- End Links -->
        </div>

        <div class="col-md-4 g-mb-50">
          <h2 class="h5 g-color-gray-light-v3 mb-4">Đăng Ký</h2>

          <!-- Subscribe Form -->
          <form class="input-group u-shadow-v19 rounded">
            <input
              class="form-control g-brd-none g-color-gray-dark-v5 g-bg-main-light-v2 g-bg-main-light-v2--focus g-placeholder-gray-dark-v3 rounded g-px-20 g-py-8"
              type="email" placeholder="Nhập Email Của Bạn">
            <span class="input-group-addon u-shadow-v19 g-brd-none g-bg-main-light-v2 g-pa-5">
              <button class="btn u-btn-primary rounded text-uppercase g-py-8 g-px-18" type="submit">
                <i class="fa fa-angle-right"></i>
              </button>
            </span>
          </form>
          <!-- End Subscribe Form -->
        </div>


        
      </div>

      <!-- Secondary Content -->
      <div class="row g-mt-4--lg">
        

        <div class="col-md-4 g-mb-30">
          <h2 class="h5 g-color-gray-light-v3 mb-4">Ngôn Ngữ/Đơn Vị:</h2>

          <!-- Large Button Group -->
          <div class="btn-group dropup">
            <button
              class="btn btn-black g-bg-main-light-v1 btn-lg g-color-gray-dark-v5 g-color-primary--hover g-font-size-default g-pl-0 mr-5"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="g-ml-minus-6" xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                <defs>
                  <clipPath id="a">
                    <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                  </clipPath>
                </defs>
                <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                  <g stroke-width="1pt">
                    <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                    <path
                      d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                      fill="#fff" />
                    <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z" fill="#fff" />
                    <path
                      d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                      fill="#c00" />
                  </g>
                </g>
              </svg>
              English
              <i class="g-font-size-12 ml-2 fa fa-caret-up"></i>
            </button>
            <div class="dropdown-menu g-brd-gray-dark-v2 g-bg-main-light-v2">
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                  <defs>
                    <clipPath id="a">
                      <path fill-opacity=".67" d="M-85.333 0h682.67v512h-682.67z" />
                    </clipPath>
                  </defs>
                  <g clip-path="url(#a)" transform="translate(80) scale(.94)">
                    <g stroke-width="1pt">
                      <path fill="#006" d="M-256 0H768.02v512.01H-256z" />
                      <path
                        d="M-256 0v57.244l909.535 454.768H768.02V454.77L-141.515 0H-256zM768.02 0v57.243L-141.515 512.01H-256v-57.243L653.535 0H768.02z"
                        fill="#fff" />
                      <path d="M170.675 0v512.01h170.67V0h-170.67zM-256 170.67v170.67H768.02V170.67H-256z"
                        fill="#fff" />
                      <path
                        d="M-256 204.804v102.402H768.02V204.804H-256zM204.81 0v512.01h102.4V0h-102.4zM-256 512.01L85.34 341.34h76.324l-341.34 170.67H-256zM-256 0L85.34 170.67H9.016L-256 38.164V0zm606.356 170.67L691.696 0h76.324L426.68 170.67h-76.324zM768.02 512.01L426.68 341.34h76.324L768.02 473.848v38.162z"
                        fill="#c00" />
                    </g>
                  </g>
                </svg>
                English
              </a>
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                  <g stroke-width="1pt" fill-rule="evenodd">
                    <path fill="#fff" d="M0 0h640v480H0z" />
                    <path fill="#00267f" d="M0 0h213.33v480H0z" />
                    <path fill="#f31830" d="M426.67 0H640v480H426.67z" />
                  </g>
                </svg>
                Spanish
              </a>
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                  <g fill-rule="evenodd" stroke-width="1pt">
                    <path fill="#fff" d="M0 0h640v480H0z" />
                    <path fill="#0039a6" d="M0 160.003h640V480H0z" />
                    <path fill="#d52b1e" d="M0 319.997h640V480H0z" />
                  </g>
                </svg>
                Russian
              </a>
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" height="11" width="27" viewBox="0 0 640 480">
                  <path fill="#ffce00" d="M0 320h640v160.002H0z" />
                  <path d="M0 0h640v160H0z" />
                  <path fill="#d00" d="M0 160h640v160H0z" />
                </svg>
                German
              </a>
            </div>
          </div>
          <!-- End Large Button Group -->

          <!-- Large Button Group -->
          <div class="btn-group dropup">
            <button
              class="btn btn-black g-bg-main-light-v1 btn-lg g-color-gray-dark-v5 g-color-primary--hover g-font-size-default g-pl-0"
              type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mr-2 fa fa-euro"></i>
              Euro
              <i class="mr-2 g-font-size-12 ml-2 fa fa-caret-up"></i>
            </button>
            <div class="dropdown-menu g-max-width-100 g-brd-gray-dark-v2 g-bg-main-light-v2">
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <i class="mr-2 fa fa-euro"></i>
                Euro
              </a>
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <i class="mr-2 fa fa-dollar"></i>
                US Dollars
              </a>
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <i class="mr-2 fa fa-gbp"></i>
                GBP
              </a>
              <a class="dropdown-item g-color-gray-dark-v5" href="#">
                <i class="mr-2 fa fa-yen"></i>
                Yen
              </a>
            </div>
          </div>
          <!-- End Large Button Group -->
        </div>

        <div class="col-md-3 g-mb-30">
          <h2 class="h5 g-color-gray-light-v3 mb-4">Theo Dõi Chúng Tôi:</h2>

          <!-- Social Icons -->
          <ul class="list-inline mb-50">
            <li class="list-inline-item g-mr-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-facebook--hover rounded"
                href="#">
                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-twitter--hover rounded"
                href="#">
                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-instagram--hover rounded"
                href="#">
                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-instagram"></i>
                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-instagram"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-google-plus--hover rounded"
                href="#">
                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-google-plus"></i>
                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-google-plus"></i>
              </a>
            </li>
            <li class="list-inline-item g-mx-2">
              <a class="u-icon-v1 u-icon-slide-up--hover g-color-gray-dark-v4 g-color-white--hover g-bg-linkedin--hover rounded"
                href="#">
                <i class="g-font-size-18 g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                <i class="g-color-white g-font-size-18 g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <!-- End Social Icons -->
        </div>
      </div>
      <!-- End Secondary Content -->
    </div>
  </div>
  <!-- End Content -->

  <!-- Copyright -->
  <div class="container g-pt-30 g-pb-10">
    <div class="row justify-content-between align-items-center">
      <div class="col-md-6 g-mb-20">
        <p class="g-font-size-13 mb-0">2020 &copy; Htmlstream. All Rights Reserved.</p>
      </div>

      <div class="col-md-6 text-md-right g-mb-20">
        <ul class="list-inline g-color-gray-dark-v5 g-font-size-25 mb-0">
          <li class="list-inline-item g-cursor-pointer mr-1">
            <i class="fa fa-cc-visa" title="Visa" data-toggle="tooltip" data-placement="top"></i>
          </li>
          <li class="list-inline-item g-cursor-pointer mx-1">
            <i class="fa fa-cc-paypal" title="Paypal" data-toggle="tooltip" data-placement="top"></i>
          </li>
          <li class="list-inline-item g-cursor-pointer mx-1">
            <i class="fa fa-cc-mastercard" title="Master Card" data-toggle="tooltip" data-placement="top"></i>
          </li>
          <li class="list-inline-item g-cursor-pointer ml-1">
            <i class="fa fa-cc-stripe" title="Stripe" data-toggle="tooltip" data-placement="top"></i>
          </li>
          <li class="list-inline-item g-cursor-pointer ml-1">
            <i class="fa fa-cc-discover" title="Discover" data-toggle="tooltip" data-placement="top"></i>
          </li>
          <li class="list-inline-item g-cursor-pointer ml-1">
            <i class="fa fa-cc-jcb" title="JCB" data-toggle="tooltip" data-placement="top"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Copyright -->
</footer>