<main>
  <!-- Header -->
  <%- include('partials/header'); %>
  <!-- End Header -->
  <!-- Breadcrumbs -->
  <section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
    <div class="container">
      <div class="d-sm-flex text-center">
        <div class="align-self-center">
          <h1 class="h3 mb-0">Đăng Sản Phẩm</h1>
        </div>

        <div class="align-self-center ml-auto">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-text" href="#">Trang Chủ</a>
              <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>

            <li class="list-inline-item g-color-primary">
              <span>Đăng Sản Phẩm</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <div class="container">
    <form action="/profile/my-products" method="POST" enctype="multipart/form-data">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <!-- Basic Text Inputs -->
          <div class="g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md g-mb-30">

            <!-- Default Input -->
            <div class="form-group g-mb-30">
              <label class="g-mb-10 font-weight-bold" for="inputGroup-1_1">Tên Sản Phẩm</label>

              <div class="g-pos-rel">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                  <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                </span>
                <input id="inputGroup-1_1"
                  class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                  type="text" name="productName" placeholder="Vui Lòng Nhập Tên Sản Phẩm">
              </div>
            </div>
            <!-- End Default Input -->

            <!-- With Text Line -->
            <div class="form-group g-mb-30">
              <label class="g-mb-10 font-weight-bold" for="inputGroup-1_2">Loại Sản Phẩm</label>

              <div class="g-pos-rel">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success">
                  <i class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"></i>
                </span>
                <input id="inputGroup-1_2"
                  class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                  type="text" name="productType" placeholder="Vui Lòng Nhập Loại Sản Phẩm">

              </div>
            </div>
            <!-- End With Text Line -->

            <!-- With Icon -->
            <div class="form-group g-mb-30">
              <label class="g-mb-10 font-weight-bold" for="inputGroup-1_3">Giá Sản Phẩm</label>

              <div class="g-pos-rel">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
                  <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
                </span>
                <input id="inputGroup-1_3"
                  class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                  type="text" name="productPrice" placeholder="Vui Lòng Nhập Giá Sản Phẩm">
              </div>
            </div>
            <!-- End With Icon -->
            <!-- With Icon -->
            <div class="form-group g-mb-30">
              <label class="g-mb-10 font-weight-bold" for="inputGroup-1_3">Hình Ảnh Sản Phẩm</label>

              <div class="g-pos-rel">
                <span class="g-pos-abs g-top-0 g-right-0 d-block g-width-50 h-100">
                  <i class="hs-admin-search g-absolute-centered g-font-size-16 g-color-gray-light-v6"></i>
                </span>
                <input id="inputGroup-1_3"
                  class="form-control form-control-md g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4 g-px-14 g-py-10"
                  type="file"name="fileImage" placeholder="URL">
              </div>
            </div>

            <div class="form-group g-mb-30">
              <label class="g-mb-10" for="inputGroup-1_1">Mô Tả Sản Phẩm</label>

              <textarea id="inputGroup-1_1" name="productDescription" class="form-control form-control-md g-resize-none g-brd-gray-light-v7 g-brd-gray-light-v3--focus g-rounded-4" rows="3" placeholder="Vui Lòng Thêm Mô Tả Sản Phẩm"></textarea>
              
            </div>
            <!-- End With Icon -->
          </div>
          <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25 g-mb-25" type="submit">Đăng Ký</button>
          <!-- End Basic Text Inputs -->
        </div>
      </div>  
    </form>
  </div>



  <!-- Call to Action -->
  <div class="g-bg-primary">
    <div class="container g-py-20">
      <div class="row justify-content-center">
        <div class="col-md-4 mx-auto g-py-20">
          <!-- Media -->
          <div class="media g-px-50--lg">
            <i
              class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
            <div class="media-body">
              <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Giao
                Hàng</span>
              <span class="d-block g-color-white-opacity-0_8">Trong 2-3 ngày</span>
            </div>
          </div>
          <!-- End Media -->
        </div>

        <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
          <!-- Media -->
          <div class="media g-px-50--lg">
            <i
              class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
            <div class="media-body">
              <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Đổi
                Trả</span>
              <span class="d-block g-color-white-opacity-0_8">Không Đòi Hỏi</span>
            </div>
          </div>
          <!-- End Media -->
        </div>

        <div class="col-md-4 mx-auto g-py-20">
          <!-- Media -->
          <div class="media g-px-50--lg">
            <i
              class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
            <div class="media-body text-left">
              <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí 24</span>
              <span class="d-block g-color-white-opacity-0_8">Số Ngày Lưu Giữ Tại Kho</span>
            </div>
          </div>
          <!-- End Media -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Call to Action -->

  <!-- Footer -->
  <%- include('partials/footer'); %>
  <!-- End Footer -->

  <a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
             "bottom": 15,
             "right": 15
           }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>

</main>