  <main>
    <!-- Header -->
    <%- include('partials/header'); %>
    <!-- End Header -->

    <!-- Revolution Slider -->
    <div class="g-overflow-hidden">
      <div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect"
        data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
        <div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
          <ul>
            <!-- SLIDE  -->
            <li data-index="rs-2800" data-transition="slidingoverlayhorizontal" data-slotamount="default"
              data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
              data-masterspeed="default" data-thumb="/public/images/img-temp/1920x1080/background-1.jpg" data-rotate="0"
              data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
              data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
              data-description="">
              <!-- MAIN IMAGE -->
              <img src="/public/images/img-temp/1920x1080/background-1.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgparallax="10" class="rev-slidebg">
            </li>
            <!-- END SLIDE  -->

            <!-- SLIDE  -->
            <li data-index="rs-2802" data-transition="slidingoverlayhorizontal" data-slotamount="default"
              data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
              data-masterspeed="default" data-thumb="/public/images/img-temp/1920x1080/background.jpg" data-rotate="0"
              data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
              data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
              data-description="">
              <!-- MAIN IMAGE -->
              <img src="/public/images/img-temp/1920x1080/background.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <!-- END SLIDE  -->

            <!-- SLIDE  -->
            <li data-index="rs-2801" data-transition="slidingoverlayhorizontal" data-slotamount="default"
              data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default"
              data-masterspeed="default" data-thumb="/public/images/img-temp/1920x1080/background.jpg" data-rotate="0"
              data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4=""
              data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
              data-description="">
              <!-- MAIN IMAGE -->
              <img src="/public/images/img-temp/1920x1080/background-2.jpg" alt="" data-bgposition="center center"
                data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
            </li>
            <!-- END SLIDE  -->
          </ul>
          <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
      </div>
    </div>
    <!-- End Revolution Slider -->

    <!-- Features -->
    <div class="g-brd-bottom g-brd-gray-light-v4">
      <div class="container g-py-30">
        <div class="row justify-content-center">
          <div class="col-md-4 mx-auto g-py-15">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Miễn Phí Vận Chuyển</span>
                <span class="d-block g-color-gray-dark-v4">Khoảng 2-3 Ngày</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <div class="col-md-4 mx-auto g-brd-x--md g-brd-gray-light-v3 g-py-15">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Miễn Phí Trả Hàng</span>
                <span class="d-block g-color-gray-dark-v4">Hân Hạnh Được Phục Vụ</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <!-- Media -->
          <div class="col-md-4 mx-auto g-py-15">
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-black g-font-size-30 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
              <div class="media-body text-left">
                <span class="d-block g-font-weight-500 g-font-size-default text-uppercase">Miễn Phí 24</span>
                <span class="d-block g-color-gray-dark-v4">Số Ngày Lưu Giữ</span>
              </div>
            </div>
            <!-- End Media -->
          </div>
        </div>
      </div>
    </div>

<!-- Featured Product -->
    <div class="container g-pb-100 g-pt-50">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4 mt-5">Sản Phẩm Nổi Bật</h2>
        <p class="lead">Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm cho ngôi nhà của các bạn trở nên
          gần gũi hơn với thiên nhiên hơn bao giờ hết.

        </p>
      </div>


      <div class="row">
        <% for(let i = 0 ; i < listItemHome.length ;i++) { %>
          <div class="col-sm-6 col-lg-3 g-mb-30 ">
            <!-- Figure -->
            <figure class="u-block-hover" style="box-shadow: 2px 7px 12px -3px rgba(21, 104, 46, 0.7);">
              <div class="g-pos-rel">
                <!-- Figure Image -->
                <img class="w-100" src="<%= listItemHome[i].image %>" alt="Image Description">
                <hr style="margin:0">
                <!-- End Figure Image -->
        
                <!-- Figure Add to Cart -->
                <figcaption>
                  <span class="u-ribbon-v1 g-width-40 g-height-40 g-color-primary g-bg-white g-font-weight-700 g-font-size-16 text-center text-uppercase g-rounded-50x g-top-15 g-left-15 g-px-2 g-py-10"><%= listItemHome[i].status %></span>
                  <div class="g-z-index-2 g-pos-abs g-top-15 g-right-15">
                    <a class="g-color-black g-color-primary--hover g-font-size-16 g-text-underline--none--hover rounded" href="#">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </div>
                  <div class="u-block-hover__additional--fade g-flex-middle g-pa-15">
                    <div class="g-flex-middle-item--bottom">
                      <a class="d-inline-block g-bg-primary-opacity-0_8 g-bg-primary--hover g-color-white g-font-size-default g-text-underline--none--hover rounded g-py-5 g-px-10" href="#">
                        <i class="g-mr-5 icon-finance-100 u-line-icon-pro"></i>
                        Thêm Vào Giỏ Hàng
                      </a>
                    </div>
                  </div>
                </figcaption>
                <!-- End Figure Add to Cart -->
              </div>
        
              <!-- Figure Content -->
              <div class="g-px-15 g-py-20">
                <header class="d-flex justify-content-between">
                  <h4 class="h5">
                    <a class="g-color-main g-color-primary--hover g-text-underline--none--hover" href="<%= listItemHome[i].link %>"><%= listItemHome[i].name %></a>
                  </h4>
                  <div class="d-block text-right">
                    <span class="g-color-black g-font-size-16 g-line-height-1"><%= listItemHome[i].price %></span>
                  </div>
                </header>
                <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-12 g-mb-5">
                  <li>
                    <a class="g-color-gray-dark-v4 g-color-black--hover g-font-style-normal " href=""><%= listItemHome[i].type %></a>
                  </li>
                  
                </ul>
                <div class="js-rating g-color-primary g-font-size-11" data-rating="3" data-spacing="2" data-backward-icons-classes="fa fa-star g-opacity-0_5"></div>
              </div>
              <!-- End Figure Content -->
            </figure>
            <!-- End Figure -->
          </div>
        <% } %>
      </div>
      
      <!-- End Products Block -->
    </div>
    <!-- Promo Block -->
    <section class="g-bg-secondary g-pos-rel">
      <div class="container g-pt-100 g-pb-70">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-8 col-lg-6 order-md-2 g-mb-30">
            <div class="g-pos-rel">
              <img class="img-fluid w-100" src="/public/images/img-temp/725x725/cayvannien.jpg" alt="Image Description">
              <span
                class="u-icon-v1 g-width-85 g-height-85 g-brd-3 g-brd-white g-color-white g-bg-primary g-font-weight-300 g-font-size-22 rounded-circle g-pos-abs g-top-100 g-left-0 g-brd-around">
                <i class="g-font-style-normal">600.000
                  <!-- <span class="g-font-size-16">.000</span> -->
                </i>
              </span>
            </div>
          </div>

          <div class="col-md-4 order-md-1 g-mb-30">
            <div class="g-mb-30">
              <h1 class="g-color-primary g-font-weight-400 g-font-size-40 mb-0">Cây Phong Thủy</h1>
              <a href="" class="g-color-main g-color-primary--hover g-text-underline--none--hover">
                <h2 class="g-color-dark g-font-weight-300 g-font-size-65 g-line-height-1 mb-4">Cây Vạn Niên Thanh</h2>
              </a>
              
              <p class="lead">Cây Vạn Niên Thanh thuộc loài cây cảnh mang tài lộc, may mắn và còn thanh lọc không khí.
              </p>
            </div>

            <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25 g-mb-70" href="#">Thêm Vào Giỏ Hàng</a>

            <!-- Countdown -->
            <div class="text-uppercase">
              <div class="js-countdown u-countdown-v3 g-line-height-1_3 g-color-black" data-end-date="2019/08/20"
                data-month-format="%m" data-days-format="%D" data-hours-format="%H" data-minutes-format="%M"
                data-seconds-format="%S">
                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-days g-color-lightred g-font-weight-500 g-font-size-15">12</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Ngày</span>
                </div>

                <div class="hidden-down d-inline-block align-top g-font-size-15">:</div>

                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-hours g-font-weight-500 g-font-size-15">01</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Giờ</span>
                </div>

                <div class="hidden-down d-inline-block align-top g-font-size-15">:</div>

                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-minutes g-font-weight-500 g-font-size-15">52</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Phút</span>
                </div>

                <div class="hidden-down d-inline-block align-top g-font-size-15">:</div>

                <div class="d-inline-block text-center g-mx-15 mb-3">
                  <div class="js-cd-seconds g-font-weight-500 g-font-size-15">52</div>
                  <span class="g-color-gray-dark-v4 g-font-size-11">Giây</span>
                </div>
              </div>
            </div>
            <!-- End Countdown -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- New Arrivals -->
    <section class="container g-py-100">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4">Các Sản Phẩm Mới</h2>
        <p class="lead">Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm cho ngôi nhà của các bạn trở nên
          gần gũi hơn với thiên nhiên hơn bao giờ hết.</p>
      </div>

      <div class="row g-mx-minus-10 g-mb-50">
        <div class="col-md-6 col-lg-4 g-px-10">
          <!-- Article -->
          <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
            <!-- Article Image -->
            <div class="g-max-width-100 g-mr-15">
              <img class="d-flex w-100" src="/public/images/img-temp/150x150/product-1.jpg" alt="Image Description">
            </div>
            <!-- End Article Image -->

            <!-- Article Info -->
            <div class="media-body align-self-center">
              <h4 class="h5 g-mb-7">
                <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Rau Chân Vịt</a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Rau</a>
              <!-- End Article Info -->

              <!-- Article Footer -->
              <footer class="d-flex justify-content-between g-font-size-16">
                <span class="g-color-black g-line-height-1">$22.00</span>
                <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                  <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Cart" data-toggle="tooltip" data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item align-middle">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </footer>
              <!-- End Article Footer -->
            </div>
          </article>
          <!-- End Article -->
        </div>

        <div class="col-md-6 col-lg-4 g-px-10">
          <!-- Article -->
          <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
            <!-- Article Image -->
            <div class="g-max-width-100 g-mr-15">
              <img class="d-flex w-100" src="/public/images/img-temp/150x150/product-2.jpg" alt="Image Description">
            </div>
            <!-- End Article Image -->

            <!-- Article Info -->
            <div class="media-body align-self-center">
              <h4 class="h5 g-mb-7">
                <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Rau Xà Lách</a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Rau</a>
              <!-- End Article Info -->

              <!-- Article Footer -->
              <footer class="d-flex justify-content-between g-font-size-16">
                <span class="g-color-black g-line-height-1">$55.00</span>
                <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                  <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Cart" data-toggle="tooltip" data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item align-middle">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </footer>
              <!-- End Article Footer -->
            </div>
          </article>
          <!-- End Article -->
        </div>

        <div class="col-md-6 col-lg-4 g-px-10">
          <!-- Article -->
          <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
            <!-- Article Image -->
            <div class="g-max-width-100 g-mr-15">
              <img class="d-flex w-100" src="/public/images/img-temp/150x150/product-3.jpg" alt="Image Description">
            </div>
            <!-- End Article Image -->

            <!-- Article Info -->
            <div class="media-body align-self-center">
              <h4 class="h5 g-mb-7">
                <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="#">Rau Chân Vịt
                  Dài</a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10" href="#">Rau</a>
              <!-- End Article Info -->

              <!-- Article Footer -->
              <footer class="d-flex justify-content-between g-font-size-16">
                <span class="g-color-black g-line-height-1">$55.00</span>
                <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                  <li class="list-inline-item align-middle g-brd-right g-brd-gray-light-v3 g-pr-10 g-mr-6">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Cart" data-toggle="tooltip" data-placement="top">
                      <i class="icon-finance-100 u-line-icon-pro"></i>
                    </a>
                  </li>
                  <li class="list-inline-item align-middle">
                    <a class="g-color-gray-dark-v5 g-color-primary--hover g-text-underline--none--hover" href="#"
                      title="Add to Wishlist" data-toggle="tooltip" data-placement="top">
                      <i class="icon-medical-022 u-line-icon-pro"></i>
                    </a>
                  </li>
                </ul>
              </footer>
              <!-- End Article Footer -->
            </div>
          </article>
          <!-- End Article -->
        </div>
      </div>

      <div class="text-center">
        <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="#">Xem Thêm</a>
      </div>
    </section>
    <!-- End New Arrivals -->

    <!-- Categories -->
    <div class="container-fluid px-0">
      <div class="row align-items-center no-gutters">
        <div class="col-md-8 col-lg-8 u-block-hover g-bg-size-cover g-min-height-500 g-flex-centered"
          data-bg-img-src="/public/images/img-temp/1200x800/collection.jpg">
          <div class="g-flex-centered-item text-right g-pa-50">
          </div>

          <a class="u-link-v2" href="#"></a>
        </div>

        <div class="col-md-4 col-lg-4 u-block-hover g-bg-size-cover g-min-height-500 g-flex-centered"
          data-bg-img-src="/public/images/img/bg/secondary.png">
          <div class="text-center">


            <h2 class="  u-link-v5 g-color-primary--hover g-font-weight-600">Về Chúng Tôi</h2>
            <p class="lead m-3">Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm cho ngôi nhà của các bạn
              trở nên
              gần gũi hơn với thiên nhiên hơn bao giờ hết.Chúng tôi muốn tạo ra nhiều cây trồng đẹp và chất lượng để làm
              cho ngôi nhà của các bạn trở nên
              gần gũi hơn với thiên nhiên hơn bao giờ hết</p>

          </div>

          <a class="u-link-v2" href="#"></a>
        </div>
      </div>
    </div>
    <!-- End Categories -->

    <!-- News -->
    <div class="container g-pt-100 g-pb-70">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4">Tin Tức</h2>
        <p class="lead">Cập Nhật Và Theo Dõi Những Tin Tức Mới Nhất.</p>
      </div>

      <div class="row g-mx-minus-10">
        <div class="col-sm-6 col-md-4 g-px-10 g-mb-30">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down"
                src="/public/images/img-temp/650x650/new-1.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <span class="d-block g-color-white-opacity-0_7 g-font-size-13 mb-2">Trend</span>
                <h2 class="h4 g-color-white g-font-weight-400 mb-3">
                  <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="#">Xu Hướng Tạo Một
                    Vườn Cây Thông Minh Trong Nhà</a>
                </h2>
                <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                  By,
                  <a class="g-color-white-opacity-0_7 text-uppercase" href="#">Dan Shaw</a>
                </h4>
                <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">May 31, 2017</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30"
                href="#">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 g-px-10 g-mb-30">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down"
                src="/public/images/img-temp/650x650/new-2.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <span class="d-block g-color-white-opacity-0_7 g-font-size-13 mb-2">Help</span>
                <h2 class="h4 g-color-white g-font-weight-400 mb-3">
                  <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="#">Cách Nuôi Trồng
                    Cây Trong Nhà</a>
                </h2>
                <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                  By,
                  <a class="g-color-white-opacity-0_7 text-uppercase" href="#">Dan Shaw</a>
                </h4>
                <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">May 31, 2017</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30"
                href="#">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>

        <div class="col-sm-6 col-md-4 g-px-10 g-mb-30">
          <!-- Blog Background Overlay Blocks -->
          <article class="u-block-hover">
            <div class="g-bg-cover g-bg-white-gradient-opacity-v1--after">
              <img class="d-flex align-items-end u-block-hover__main--mover-down"
                src="/public/images/img-temp/650x650/new-3.jpg" alt="Image Description">
            </div>
            <div class="u-block-hover__additional--partially-slide-up text-center g-z-index-1 mt-auto">
              <div class="u-block-hover__visible g-pa-25">
                <span class="d-block g-color-white-opacity-0_7 g-font-size-13 mb-2">Family</span>
                <h2 class="h4 g-color-white g-font-weight-400 mb-3">
                  <a class="u-link-v5 g-color-white g-color-primary--hover g-cursor-pointer" href="#">Chiêm Ngưỡng Cách
                    Bố Trí Đẹp Mắt Của Một Vườn Thực Vật Trong Nhà</a>
                </h2>
                <h4 class="d-inline-block g-color-white-opacity-0_7 g-font-size-11 mb-0">
                  By,
                  <a class="g-color-white-opacity-0_7 text-uppercase" href="#">Dan Shaw</a>
                </h4>
                <span class="g-color-white-opacity-0_7 g-pos-rel g-top-2 mx-2">&#183;</span>
                <span class="g-color-white-opacity-0_7 g-font-size-10 text-uppercase">May 31, 2017</span>
              </div>

              <a class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-500 g-font-size-12 text-uppercase g-text-underline--none--hover g-mb-30"
                href="#">Read more</a>
            </div>
          </article>
          <!-- End Blog Background Overlay Blocks -->
        </div>
      </div>
    </div>
    <!-- End News -->

    <!-- Footer -->
    <%- include('partials/footer'); %>
    <!-- End Footer -->

    <!-- Go To Top -->
    <a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
           "bottom": 15,
           "right": 15
         }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
    <!-- End Go To Top -->

    <!-- Modal Window -->
    <div id="modal-type-onscroll" class="js-autonomous-popup text-left g-bg-white g-pos-rel g-rounded-5"
      style="display: none;" data-modal-type="onscroll" data-open-effect="fadeIn" data-close-effect="fadeIn"
      data-breakpoint="1000" data-speed="500">
      <button type="button"
        class="close g-color-main-light-v3 g-color-primary--hover g-font-size-13 g-pos-abs g-top-15 g-right-15 g-opacity-1"
        onclick="Custombox.modal.close();">
        <i class="hs-icon hs-icon-close"></i>
      </button>

      <!-- Modal Window - Content -->
      <div class="g-width-720">
        <div class="row align-items-center">
          <div class="col-sm-6 g-height-350--sm g-bg-size-cover g-bg-pos-top-center g-rounded-left-5"
            data-bg-img-src="/public/images/img-temp/300x300/img1.jpg"></div>

          <div class="col-sm-6">
            <div class="g-pl-30 g-pl-20--sm g-pr-30 g-py-20">
              <!-- Info -->
              <div class="g-mb-35">
                <h3 class="h1 g-color-primary">Subscribe</h3>
                <p class="g-font-weight-300 g-font-size-16">Get free promotions every month!</p>
              </div>
              <!-- End Info -->

              <!-- Subscribe Form -->
              <form class="input-group u-shadow-v19 rounded g-mb-20">
                <input
                  class="form-control g-brd-right-none g-brd-gray-light-v4 g-color-white g-bg-main-light-v3 g-rounded-left-5 g-px-20 g-py-8"
                  type="email" placeholder="Enter your email">
                <span
                  class="input-group-addon u-shadow-v19 g-brd-left-none g-brd-gray-light-v4 g-bg-main-light-v3 g-rounded-right-5 g-pa-5">
                  <button class="btn u-btn-primary rounded text-uppercase g-py-8 g-px-18" type="submit">
                    <i class="fa fa-angle-right"></i>
                  </button>
                </span>
              </form>
              <!-- End Subscribe Form -->

              <!-- Social Icons -->
              <ul class="list-inline mb-0">
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </li>
                <li class="list-inline-item g-mx-0">
                  <a class="u-icon-v3 u-icon-size--xs g-color-main-light-v3 g-color-white--hover g-bg-white g-bg-primary--hover g-font-size-13 rounded"
                    href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
              <!-- End Social Icons -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal Window - Content -->
    </div>
    <!-- End Modal Window -->
  </main>
  
