<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title> <%-title%></title>
    <link rel="icon" href="https://img.icons8.com/color/96/000000/spring-logo.png">
    
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,900">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/public/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/vendor/icon-line/css/simple-line-icons.css">

    <!-- Revolution Slider -->
    <link rel="stylesheet"href="/public/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/css/settings.css">
    <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/css/layers.css">
    <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution/css/navigation.css">
    <link rel="stylesheet" href="/public/vendor/revolution-slider/revolution-addons/typewriter/css/typewriter.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/public/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="/public/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="/public/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/public/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/public/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/public/vendor/animate.css">
    <link rel="stylesheet" href="/public/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/public/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/public/vendor/slick-carousel/slick/slick.css">
    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="/public/stylesheets/css/styles.e-commerce.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/public/stylesheets/css/custom.css">
    <%-style%>
</head>


<body>
    <%-body %>
    <!-- JS Global Compulsory -->
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/public/vendor/popper.js/popper.min.js"></script>
    <script src="/public/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/public/vendor/jquery-ui/ui/widget.js"></script>
    <script src="/public/vendor/jquery-ui/ui/widgets/menu.js"></script>
    <script src="/public/vendor/jquery-ui/ui/widgets/mouse.js"></script>
    <script src="/public/vendor/jquery-ui/ui/widgets/slider.js"></script>
    <script src="/public/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/public/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/public/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="/public/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="/public/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- JS Revolution Slider -->
    <script src="/public/vendor/revolution-slider/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/jquery.themepunch.revolution.min.js"></script>

    <script src="/public/vendor/revolution-slider/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>

    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/public/vendor/revolution-slider/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- JS Unify -->
    <script src="/public/js/hs.core.js"></script>
    <script src="/public/js/components/hs.header.js"></script>
    <script src="/public/js/helpers/hs.hamburgers.js"></script>
    <script src="/public/js/components/hs.dropdown.js"></script>
    <script src="/public/js/components/hs.scrollbar.js"></script>
    <script src="/public/js/helpers/hs.rating.js"></script>
    <script src="/public/js/components/hs.carousel.js"></script>
    <script src="/public/js/components/hs.tabs.js"></script>
    <script src="/public/js/components/hs.count-qty.js"></script>
    <script src="/public/js/components/hs.slider.js"></script>
    <script src="/public/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="/public/js/custom.js"></script>
    <!-- <script src="/public/js/product.js"></script> -->


    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of carousel
            $.HSCore.components.HSCarousel.init('.js-carousel');
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of HSMegaMenu component
            $('.js-mega-menu').HSMegaMenu({
                event: 'hover',
                pageContainer: $('.container'),
                breakpoint: 991
            });

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
                afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                }
            });

            // initialization of HSScrollBar component
            $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of rating
            $.HSCore.helpers.HSRating.init();

            // initialization of range slider
            $.HSCore.components.HSSlider.init('#rangeSlider1');
        });
        // initialization of revolution slider
        var tpj = jQuery;

        var revapi1014;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_1014_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_1014_1");
            } else {
                revapi1014 = tpj("#rev_slider_1014_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "revolution/js/",
                    sliderLayout: "fullscreen",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        mouseScrollReverse: "default",
                        onHoverStop: "off",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 1,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "uranus",
                            enable: true,
                            hide_onmobile: true,
                            hide_under: 768,
                            hide_onleave: false,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    parallax: {
                        type: "mouse",
                        origo: "slidercenter",
                        speed: 2000,
                        levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
                        disable_onmobile: "on"
                    },
                    responsiveLevels: [1240, 1024, 778, 480],
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: [1240, 1024, 778, 480],
                    gridheight: [868, 768, 960, 600],
                    lazyType: "none",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: 0,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    fullScreenAutoWidth: "off",
                    fullScreenAlignForce: "off",
                    fullScreenOffsetContainer: "#js-header",
                    fullScreenOffset: "",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false
                    }
                });
            }

            RsTypewriterAddOn(tpj, revapi1014);
        });
    </script>
    <%- script %>
</body>

</html>