<main>
  <!-- Header -->
  <%- include('partials/header'); %>
  <!-- End Header -->
  <!-- Breadcrumbs -->
  <section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
    <div class="container">
      <div class="d-sm-flex text-center">
        <div class="align-self-center">
          <h1 class="h3 mb-0">Sản Phẩm Của Tôi</h1>
        </div>

        <div class="align-self-center ml-auto">
          <ul class="u-list-inline">
            <li class="list-inline-item g-mr-5">
              <a class="u-link-v5 g-color-text" href="#">Trang Chủ</a>
              <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
            </li>

            <li class="list-inline-item g-color-primary">
              <span>Sản Phẩm Của Tôi</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Breadcrumbs -->

  <div class="container g-pt-70 g-pb-30">
    <div class="row">
      <!-- Profile Settings -->
      <div class="col-lg-3 g-mb-50">
        <aside class="g-brd-around g-brd-gray-light-v4 rounded g-px-20 g-py-30">
          <!-- Profile Picture -->
          <div class="text-center g-pos-rel g-mb-30">
            <div class="g-width-100 g-height-100 mx-auto mb-3">
              <img class="img-fluid rounded-circle" src="/public/images/img-temp/100x100/img1.jpg" alt="Image Decor">
            </div>

            <span class="d-block g-font-weight-500">duc</span>

            <span
              class="u-icon-v3 u-icon-size--xs g-color-white--hover g-bg-primary--hover rounded-circle g-pos-abs g-top-0 g-right-15 g-cursor-pointer"
              title="Change Profile Picture" data-toggle="tooltip" data-placement="top">
              <i class="icon-finance-067 u-line-icon-pro"></i>
            </span>
          </div>
          <!-- End Profile Picture -->

          <hr class="g-brd-gray-light-v4 g-my-30">

          <!-- Profile Settings List -->
          <ul class="list-unstyled mb-0">
            <li class="g-pb-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-wallet-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-059 u-line-icon-pro"></i></span>
                Ví Của Bạn
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-orders-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-114 u-line-icon-pro"></i></span>
                Đơn Của Bạn
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="/profile/my-products">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-114 u-line-icon-pro"></i></span>
                Sản Phẩm Của Bạn
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="/profile/create-products">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-114 u-line-icon-pro"></i></span>
                Đăng Sản Phẩm
              </a>
            </li>

            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-open-orders-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-115 u-line-icon-pro"></i></span>
                Mở Đơn
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-cancelled-orders-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-113 u-line-icon-pro"></i></span>
                Đơn Đã Hủy
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-wishlist-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-medical-022 u-line-icon-pro"></i></span>
                Danh Sách Yêu Thích
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-addresses-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-real-estate-027 u-line-icon-pro"></i></span>
                Các Địa Chỉ
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-payment-options-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-110 u-line-icon-pro"></i></span>
                Phương Thức Thanh Toán
              </a>
            </li>
            <li class="g-py-3">
              <a class="d-block align-middle active u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover g-color-primary--parent-active g-bg-gray-light-v5--active rounded g-pa-3"
                href="page-login-security-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-finance-135 u-line-icon-pro"></i></span>
                Đăng Nhập &amp; Bảo Mật
              </a>
            </li>
            <li class="g-pt-3">
              <a class="d-block align-middle u-link-v5 g-color-text g-color-primary--hover g-bg-gray-light-v5--hover rounded g-pa-3"
                href="page-notifications-1.html">
                <span class="u-icon-v1 g-color-gray-dark-v5 mr-2"><i
                    class="icon-education-033 u-line-icon-pro"></i></span>
                Thông Báo
              </a>
            </li>
          </ul>
          <!-- End Profile Settings List -->
        </aside>
      </div>
      <!-- End Profile Settings -->

      <!-- My Products -->

      <div class="col-lg-9 g-mb-50">
        <div class="row">

          <% if(myProducts.length === 0){ %>
          <h1>Không có Sản Phẩm Nào</h1>
          <% } else{ %>
          <% for(let i=0; i < myProducts.length;i++){ %>
          <!-- Figure -->
          <div class="g-brd-bottom g-brd-gray-light-v4">
            <div class="row g-pt-30">
              <div class="col-6 col-sm-5 col-lg-4 g-mb-30">
                <figure class="g-pos-rel border border-success">
                  <img class="img-fluid" src="<%= myProducts[i].fileImageName %>" alt="Image Description">

                  <figcaption
                    class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
                    <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover"
                      href="#">New Arrival</a>
                  </figcaption>
                </figure>
              </div>

              <div class="col-6 col-sm-7 col-lg-8 g-mb-15">
                <!-- Product Info -->
                <div class="g-mb-30">
                  <h4 class="h5 g-color-black mb-0 mt-1">
                    <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                      <%= myProducts[i].productName %>
                    </a>
                  </h4>
                  <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13 mb-2" href="#">Trái Cây</a>
                  <span class="d-block g-color-black g-font-size-20 mb-4">$52.00</span>
                  <p>Alongside our classic parka, we make modern clothing and outerwear that withstands the weather and
                    the changes in fashion. We use only the best fabrics to keep you warm and dry, while the designs
                    look good now and tomorrow. In essence, our coats are built to last.</p>
                </div>
                <!-- End Product Info -->

              </div>
            </div>
          </div>
          <!-- End Figure -->

          <%  } %>
          <% } %>

        </div>
      </div>
      <!-- End My Products -->
    </div>
  </div>


  <!-- Call to Action -->
  <div class="g-bg-primary">
    <div class="container g-py-20">
      <div class="row justify-content-center">
        <div class="col-md-4 mx-auto g-py-20">
          <!-- Media -->
          <div class="media g-px-50--lg">
            <i
              class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
            <div class="media-body">
              <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Giao
                Hàng</span>
              <span class="d-block g-color-white-opacity-0_8">Trong 2-3 ngày</span>
            </div>
          </div>
          <!-- End Media -->
        </div>

        <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
          <!-- Media -->
          <div class="media g-px-50--lg">
            <i
              class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
            <div class="media-body">
              <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Đổi
                Trả</span>
              <span class="d-block g-color-white-opacity-0_8">Không Đòi Hỏi</span>
            </div>
          </div>
          <!-- End Media -->
        </div>

        <div class="col-md-4 mx-auto g-py-20">
          <!-- Media -->
          <div class="media g-px-50--lg">
            <i
              class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
            <div class="media-body text-left">
              <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí 24</span>
              <span class="d-block g-color-white-opacity-0_8">Số Ngày Lưu Giữ Tại Kho</span>
            </div>
          </div>
          <!-- End Media -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Call to Action -->

  <!-- Footer -->
  <%- include('partials/footer'); %>
  <!-- End Footer -->

  <a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
             "bottom": 15,
             "right": 15
           }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
    <i class="hs-icon hs-icon-arrow-top"></i>
  </a>

</main>

<script>

</script>