  <main>
    <!-- Header -->
    <%- include('partials/header'); %>
    <!-- End Header -->

    <!-- Breadcrumbs -->
    <% for(let i = 0 ; i< listItem.length; i++){ %>
      <%  if (listItem[i].slug === slug){ %>
    <section class="g-brd-bottom g-brd-primary-light-v4  g-py-30">
      <div class="container">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" href="/">Trang Chủ</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" href="/products">Sản Phẩm</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          <li class="list-inline-item g-color-primary">
            <span> <%= listItem[i].name %></span>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Product Description -->
    <div class="container g-pt-50 g-pb-100">
      <div class="row">
        <div class="col-lg-7 g-mb-30 g-mb-0--lg">
          <div class="row justify-content-center">
            <div class="col-lg-9 center">
                <div >
                  <img class="img-fluid w-100" src="<%= listItem[i].image %>" alt="Image Description">
                </div>
              
            </div>
          </div>
          <!-- End Carousel -->
        </div>

        <div class="col-lg-5">
          <div class="g-px-40--lg">
            <!-- Product Info -->
            <div class="g-mb-30">
              <h1 class="g-font-weight-700 mb-4"><%= listItem[i].name %></h1>
              <p>Dress is the "rain mac" version of our beloved essential the Unify Parka. Crafted from a water
                resistant fluid memory fabric to create an elegant draped effect when thrown on, this lightweight shell
                will take you from season to season and protect you from that unexpected shower.</p>
            </div>
            <!-- End Product Info -->

            <!-- Price -->
            <div class="g-mb-30">
              <h2 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-12 text-uppercase mb-2">Giá</h2>
              <span class="g-color-black g-font-weight-500 g-font-size-30 mr-2">$99.00</span>
              <s class="g-color-gray-dark-v4 g-font-weight-500 g-font-size-16">$101.00</s>
            </div>
            <!-- End Price -->

            <!-- Accordion -->
            <div id="accordion-01" role="tablist" aria-multiselectable="true">
              <div id="accordion-01-heading-01" class="g-brd-y g-brd-gray-light-v3 py-3" role="tab">
                <h5 class="g-font-weight-400 g-font-size-default mb-0">
                  <a class="d-block g-color-gray-dark-v5 g-text-underline--none--hover" href="#accordion-01-body-01"
                    data-toggle="collapse" data-parent="#accordion-01" aria-expanded="false"
                    aria-controls="accordion-01-body-01">Chi Tiết
                    <span class="float-right g-pos-rel g-top-3 mr-1 fa fa-angle-down"></span></a>
                </h5>
              </div>
              <div id="accordion-01-body-01" class="collapse" role="tabpanel" aria-labelledby="accordion-01-heading-01">
                <div class="g-py-10">
                  <p class="g-font-size-12 mb-2">SHELL: 100% POLYESTER</p>
                  <p class="g-font-size-12 mb-2">Always check the care label instructions.</p>
                  <p class="g-font-size-12 mb-2">Professional dry clean only. Remove all detachable parts before
                    cleaning. Do not iron.</p>
                  <p class="g-font-size-12 mb-2">(Navy: Avoid contact with light coloured fabrics and upholstery
                    especially whilst damp.)</p>
                </div>
              </div>
            </div>
            <!-- End Accordion -->


            <!-- Quantity -->
            <div class="d-flex justify-content-between align-items-center g-brd-bottom g-brd-gray-light-v3 py-3 g-mb-30"
              role="tab">
              <h5 class="g-color-gray-dark-v5 g-font-weight-400 g-font-size-default mb-0">Số Lượng</h5>

              <div class="js-quantity input-group u-quantity-v1 g-width-80 g-brd-primary--focus">
                <input class="js-result form-control text-center g-font-size-13 rounded-0" type="text" value="1"
                  readonly>

                <div
                  class="input-group-addon d-flex align-items-center g-width-30 g-brd-gray-light-v2 g-bg-white g-font-size-13 rounded-0 g-pa-5">
                  <i class="js-plus g-color-gray g-color-primary--hover fa fa-angle-up"></i>
                  <i class="js-minus g-color-gray g-color-primary--hover fa fa-angle-down"></i>
                </div>
              </div>
            </div>
            <!-- End Quantity -->

            <!-- Buttons -->
            <div class="row g-mx-minus-5 g-mb-20">
              <div class="col g-px-5 g-mb-10">
                <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="button">
                  Cho Vào Giỏ hàng <i class="align-middle ml-2 icon-finance-100 u-line-icon-pro"></i>
                </button>
              </div>
              <div class="col g-px-5 g-mb-10">
                <button
                  class="btn btn-block u-btn-outline-black g-brd-gray-dark-v5 g-brd-black--hover g-color-gray-dark-v4 g-color-white--hover g-font-size-12 text-uppercase g-py-15 g-px-25"
                  type="button">
                  Danh Sách Yêu Thích<i class="align-middle ml-2 icon-medical-022 u-line-icon-pro"></i>
                </button>
              </div>
            </div>
            <!-- End Buttons -->

            <!-- Nav Tabs -->
            <ul class="nav d-flex justify-content-between g-font-size-12 text-uppercase" role="tablist"
              data-target="nav-1-1-default-hor-left">
              <li class="nav-item g-brd-bottom g-brd-gray-dark-v4">
                <a class="nav-link active g-color-primary--parent-active g-pa-0 g-pb-1" data-toggle="tab"
                  href="#nav-1-1-default-hor-left--3" role="tab">Trả hàng</a>
              </li>
              
              <li class="nav-item g-brd-bottom g-brd-gray-dark-v4">
                <a class="nav-link g-color-primary--parent-active g-pa-0 g-pb-1" data-toggle="tab"
                  href="#nav-1-1-default-hor-left--2" role="tab">Vận Chuyển</a>
              </li>
            </ul>
            <!-- End Nav Tabs -->

            <!-- Tab Panes -->
            <div id="nav-1-1-default-hor-left" class="tab-content">
              <div class="tab-pane fade show active g-pt-30" id="nav-1-1-default-hor-left--3" role="tabpanel">
                <p class="g-color-gray-dark-v4 g-font-size-13 mb-0">You can return/exchange your orders in Unify
                  E-commerce. For more information, read our
                  <a href="page-help-1.html">Help</a>.</p>
              </div>

              

              <div class="tab-pane fade g-pt-30" id="nav-1-1-default-hor-left--2" role="tabpanel">
                <!-- Shipping Mehtod -->
                <table>
                  <thead class="h6 g-brd-bottom g-brd-gray-light-v3 g-color-gray-dark-v3 g-font-size-13">
                    <tr>
                      <th class="g-width-100 g-font-weight-500 g-pa-0 g-pb-10">Destination</th>
                      <th class="g-width-140 g-font-weight-500 g-pa-0 g-pb-10">Delivery type</th>
                      <th class="g-width-150 g-font-weight-500 g-pa-0 g-pb-10">Delivery time</th>
                      <th class="g-font-weight-500 text-right g-pa-0 g-pb-10">Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="g-color-gray-dark-v4 g-font-size-12">
                      <td class="align-top g-py-10">UK</td>
                      <td class="align-top g-py-10">Standard delivery</td>
                      <td class="align-top g-font-size-11 g-py-10">2-3 Working days</td>
                      <td class="align-top text-right g-py-10">$5.5</td>
                    </tr>
                    <tr class="g-color-gray-dark-v4 g-font-size-12">
                      <td class="align-top g-py-10"></td>
                      <td class="align-top g-py-10">Next day</td>
                      <td class="align-top g-font-size-11 g-py-10">Order before 12pm monday - thursday and receive it
                        the next day</td>
                      <td class="align-top text-right g-py-10">$9.5</td>
                    </tr>
                    <tr class="g-color-gray-dark-v4 g-font-size-12">
                      <td class="align-top g-py-10"></td>
                      <td class="align-top g-py-10">Saturday delivery</td>
                      <td class="align-top g-font-size-11 g-py-10">Saturday delivery for orders placed before 12pm on
                        friday</td>
                      <td class="align-top text-right g-py-10">$12.00</td>
                    </tr>
                    <tr class="g-color-gray-dark-v4 g-font-size-12">
                      <td class="align-top g-py-10">Europe</td>
                      <td class="align-top g-py-10">Standard delivery</td>
                      <td class="align-top g-font-size-11 g-py-10">3-9 Working days</td>
                      <td class="align-top text-right g-py-10">$20.00</td>
                    </tr>
                    
                  </tbody>
                </table>
                <!-- End Shipping Mehtod -->
              </div>
            </div>
            <!-- End Tab Panes -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Product Description -->

    <% } %>
    <% } %>
    <!-- Description & Review -->
    <div class="container">
      <div class="g-brd-y g-brd-gray-light-v3 g-py-100">
        <!-- Nav tabs -->
        <ul class="nav g-max-width-200 text-center mx-auto" role="tablist"
          data-target="nav-1-2-accordion-default-hor-left-underline" data-tabs-mobile-type="accordion"
          data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-primary g-mb-20">
          <li class="nav-item text-center mx-auto g-pb-10">
            <a class="nav-link active g-brd-around g-brd-primary--active g-color-text g-color-primary--parent-active g-font-size-16 rounded"
              data-toggle="tab" href="#nav-1-2-accordion-default-hor-left-underline--1" role="tab">Description</a>
          </li>
          <li class="nav-item text-center mx-auto g-pb-10">
            <a class="nav-link g-brd-around g-brd-primary--active g-color-text g-color-primary--parent-active g-font-size-16 rounded"
              data-toggle="tab" href="#nav-1-2-accordion-default-hor-left-underline--2" role="tab">Review</a>
          </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-1-2-accordion-default-hor-left-underline" class="tab-content">
          <div class="tab-pane fade show active g-pt-50" id="nav-1-2-accordion-default-hor-left-underline--1"
            role="tabpanel">


            <div class="row justify-content-center">
              <div class="col-md-6 g-mb-30">
                <h2 class="h4 mb-3">Chi Tiết</h2>
                <p>The streak started in late October. Canelas 2010, an unheralded amateur soccer team, suddenly could
                  not stop winning.</p>
                <p>It went 10 straight matches without dropping a point, without so much as conceding a goal, a surge
                  that brought the prospect of promotion out of its local league and into the comparative big time of
                  the national third division.</p>
              </div>
            </div>
          </div>

          <div class="tab-pane fade g-pt-50" id="nav-1-2-accordion-default-hor-left-underline--2" role="tabpanel">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <h2 class="h4 mb-5">Đánh Giá</h2>

                <!-- Review -->
                <div class="g-brd-bottom g-brd-gray-light-v4 g-pb-30 g-mb-50">
                  <!-- Media -->
                  <div class="media g-mb-30">
                    <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-20"
                      src="/public/images//img-temp/100x100/img1.jpg" alt="Image Description">
                    <div class="media-body">
                      <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                        <div class="d-block">
                          <h5 class="h6">James Coolman</h5>

                          <!-- Rating -->
                          <ul class="js-rating u-rating-v1 g-font-size-13 g-color-gray-light-v3 mb-0"
                            data-hover-classes="g-color-primary">
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                          </ul>
                          <!-- End Rating -->

                          <span class="d-block g-color-gray-dark-v5 g-font-size-11">June 7, 2017</span>
                        </div>
                        <div class="ml-auto">
                          <a class="u-link-v5 g-color-black g-color-primary--hover g-font-size-12 text-uppercase"
                            href="#">Reply</a>
                        </div>
                      </div>

                      <p>The time has come to bring those ideas and plans to life. This is where we really begin to
                        visualize your napkin sketches and make them into beautiful pixels. Whether through commerce or
                        just an experience to tell your brand's story, the time has come to start using development
                        languages that fit your projects needs.</p>

                      <ul class="list-inline my-0">
                        <li class="list-inline-item g-mr-20">
                          <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                            <i class="g-pos-rel g-top-1 g-mr-3 icon-medical-022 u-line-icon-pro"></i> 5
                          </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                          <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                            <i class="icon-finance-206 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 1
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Media -->

                  <!-- Media -->
                  <div class="media g-brd-top g-brd-gray-light-v4 g-pt-30 g-ml-40 g-mb-30">
                    <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-15"
                      src="/public/images//img-temp/100x100/img2.jpg" alt="Image Description">
                    <div class="media-body">
                      <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                        <div class="d-block">
                          <h5 class="h6">Alberta Watson</h5>

                          <!-- Rating -->
                          <ul class="js-rating u-rating-v1 g-font-size-13 g-color-gray-light-v3 mb-0"
                            data-hover-classes="g-color-primary">
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                          </ul>
                          <!-- End Rating -->

                          <span class="d-block g-color-gray-dark-v5 g-font-size-11">June 7, 2017</span>
                        </div>
                        <div class="ml-auto">
                          <a class="u-link-v5 g-color-black g-color-primary--hover g-font-size-12 text-uppercase"
                            href="#">Reply</a>
                        </div>
                      </div>

                      <p>Now that your brand is all dressed up and ready to party, it's time to release it to the world.
                        By the way, let's celebrate already.</p>

                      <ul class="list-inline my-0">
                        <li class="list-inline-item g-mr-20">
                          <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                            <i class="g-pos-rel g-top-1 g-mr-3 icon-medical-022 u-line-icon-pro"></i> 2
                          </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                          <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                            <i class="icon-finance-206 u-line-icon-pro g-pos-rel g-top-1 g-mr-3"></i> 0
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Media -->

                  <!-- Media -->
                  <div class="media g-brd-top g-brd-gray-light-v4 g-pt-30 g-mb-30">
                    <img class="d-flex g-width-60 g-height-60 rounded-circle g-mt-3 g-mr-15"
                      src="/public/images//img-temp/100x100/img3.jpg" alt="Image Description">
                    <div class="media-body">
                      <div class="d-flex align-items-start g-mb-15 g-mb-10--sm">
                        <div class="d-block">
                          <h5 class="h6">Maria Lee</h5>

                          <!-- Rating -->
                          <ul class="js-rating u-rating-v1 g-font-size-13 g-color-gray-light-v3 mb-0"
                            data-hover-classes="g-color-primary">
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                            <li class="g-color-primary g-line-height-1_4">
                              <i class="fa fa-star"></i>
                            </li>
                          </ul>
                          <!-- End Rating -->

                          <span class="d-block g-color-gray-dark-v5 g-font-size-11">June 7, 2017</span>
                        </div>
                        <div class="ml-auto">
                          <a class="u-link-v5 g-color-black g-color-primary--hover g-font-size-12 text-uppercase"
                            href="#">Reply</a>
                        </div>
                      </div>

                      <p>We get it, you're busy and it's important that someone keeps up with marketing and driving
                        people to your brand. We've got you covered.</p>

                      <ul class="list-inline my-0">
                        <li class="list-inline-item g-mr-20">
                          <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                            <i class="g-pos-rel g-top-1 g-mr-3 icon-medical-022 u-line-icon-pro"></i> 0
                          </a>
                        </li>
                        <li class="list-inline-item g-mr-20">
                          <a class="g-color-gray-dark-v5 g-text-underline--none--hover" href="#">
                            <i class="g-pos-rel g-top-1 g-mr-3 icon-finance-206 u-line-icon-pro"></i> 0
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- End Media -->
                </div>
                <!-- End Review -->

                <h2 class="h4 mb-5">Đăng Nhận Xét</h2>

                <!-- Comment Form -->
                <form>
                  <div class="row">
                    <div class="col-md-6 form-group g-mb-30">
                      <input
                        class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-3 g-py-13 g-px-15"
                        type="text" placeholder="First name">
                    </div>

                    <div class="col-md-6 form-group g-mb-30">
                      <input
                        class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-3 g-py-13 g-px-15"
                        type="email" placeholder="Email">
                    </div>
                  </div>
                </form>
                <!-- End Comment Form -->

                <div class="g-mb-30">
                  <textarea
                    class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15"
                    rows="12" placeholder="Your message"></textarea>
                </div>

                <div class="row align-items-center">
                  <div class="col-5 col-sm-4 col-md-3">
                    <button class="btn u-btn-primary g-font-size-12 text-uppercase g-py-15 g-px-25" type="submit"
                      role="button">Đăng Bình Luận</button>
                  </div>

                  <!-- Rating -->
                  <div class="col-5 col-sm-4 col-md-3">
                    <h3 class="h6 mb-1">Rate:</h3>

                    <ul class="js-rating u-rating-v1 g-font-size-20 g-color-gray-light-v3 mb-0"
                      data-hover-classes="g-color-primary">
                      <li class="g-color-primary g-line-height-1_4 click">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="g-color-primary g-line-height-1_4 click">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="g-color-primary g-line-height-1_4 click">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="g-color-primary g-line-height-1_4 click">
                        <i class="fa fa-star"></i>
                      </li>
                      <li class="g-line-height-1_4">
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                    <!-- End Rating -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Tab panes -->
      </div>
    </div>
    <!-- End Description & Review -->

    <!-- Products -->
    <div class="container g-pt-100 g-pb-70">
      <div class="text-center mx-auto g-max-width-600 g-mb-50">
        <h2 class="g-color-black mb-4">Sản Phẩm Nổi Bật</h2>
        <p class="lead">We want to create a range of beautiful, practical and modern outerwear that doesn't cost the
          earth – but let's you still live life in style.</p>
      </div>

      <!-- Products -->
      <div class="row">
        <div class="col-6 col-lg-3 g-mb-30">
          <!-- Product -->
          <figure class="g-pos-rel g-mb-20">
            <img class="img-fluid" src="/public/images//img-temp/480x700/duahau.jpg" alt="Image Description">

            <figcaption
              class="w-100 g-bg-primary g-bg-black--hover text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
              <a class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1 g-text-underline--none--hover"
                href="#">Sản Phẩm Mới</a>
            </figcaption>
          </figure>

          <div class="media">
            <!-- Product Info -->
            <div class="d-flex flex-column">
              <h4 class="h6 g-color-black mb-1">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                  Summer shorts
                </a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Man</a>
              <span class="d-block g-color-black g-font-size-17">$52.00</span>
            </div>
            <!-- End Product Info -->

            <!-- Products Icons -->
            <ul class="list-inline media-body text-right">
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="icon-finance-100 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products Icons -->
          </div>
          <!-- End Product -->
        </div>

        <div class="col-6 col-lg-3 g-mb-30">
          <!-- Product -->
          <figure class="g-pos-rel g-mb-20">
            <img class="img-fluid" src="/public/images//img-temp/480x700/bapcai.jpg" alt="Image Description">

            <span
              class="u-ribbon-v1 g-width-40 g-height-40 g-color-white g-bg-primary g-font-size-13 text-center text-uppercase g-rounded-50x g-top-10 g-right-minus-10 g-px-2 g-py-10">-40%</span>
          </figure>

          <div class="media">
            <!-- Product Info -->
            <div class="d-flex flex-column">
              <h4 class="h6 g-color-black mb-1">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                  Stylish shirt
                </a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Woman</a>
              <span class="d-block g-color-black g-font-size-17">$99.00</span>
            </div>
            <!-- End Product Info -->

            <!-- Products Icons -->
            <ul class="list-inline media-body text-right">
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="icon-finance-100 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products Icons -->
          </div>
          <!-- End Product -->
        </div>

        <div class="col-6 col-lg-3 g-mb-30">
          <!-- Product -->
          <figure class="g-pos-rel g-mb-20">
            <img class="img-fluid" src="/public/images//img-temp/480x700/cachua.jpg" alt="Image Description">

            <figcaption class="w-100 g-bg-lightred text-center g-pos-abs g-bottom-0 g-transition-0_2 g-py-5">
              <span class="g-color-white g-font-size-11 text-uppercase g-letter-spacing-1">Sold Out</a>
            </figcaption>
          </figure>

          <div class="media">
            <!-- Product Info -->
            <div class="d-flex flex-column">
              <h4 class="h6 g-color-black mb-1">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                  Classic jacket
                </a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Man</a>
              <span class="d-block g-color-black g-font-size-17">$49.99</span>
            </div>
            <!-- End Product Info -->

            <!-- Products Icons -->
            <ul class="list-inline media-body text-right">
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="icon-finance-100 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products Icons -->
          </div>
          <!-- End Product -->
        </div>

        <div class="col-6 col-lg-3 g-mb-30">
          <!-- Product -->
          <figure class="g-pos-rel g-mb-20">
            <img class="img-fluid" src="/public/images//img-temp/480x700/otchuong.jpg" alt="Image Description">
          </figure>

          <div class="media">
            <!-- Product Info -->
            <div class="d-flex flex-column">
              <h4 class="h6 g-color-black mb-1">
                <a class="u-link-v5 g-color-black g-color-primary--hover" href="#">
                  Wool lined parka
                </a>
              </h4>
              <a class="d-inline-block g-color-gray-dark-v5 g-font-size-13" href="#">Woman</a>
              <span class="d-block g-color-black g-font-size-17">$82.37</span>
            </div>
            <!-- End Product Info -->

            <!-- Products Icons -->
            <ul class="list-inline media-body text-right">
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Cart">
                  <i class="icon-finance-100 u-line-icon-pro"></i>
                </a>
              </li>
              <li class="list-inline-item align-middle mx-0">
                <a class="u-icon-v1 u-icon-size--sm g-color-gray-dark-v5 g-color-primary--hover g-font-size-15 rounded-circle"
                  href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist">
                  <i class="icon-medical-022 u-line-icon-pro"></i>
                </a>
              </li>
            </ul>
            <!-- End Products Icons -->
          </div>
          <!-- End Product -->
        </div>
      </div>
      <!-- End Products -->
    </div>
    <!-- End Products -->

    <!-- Call to Action -->
    <div class="g-bg-primary">
      <div class="container g-py-20">
        <div class="row justify-content-center">
          <div class="col-md-4 mx-auto g-py-20">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Vận
                  Chuyển</span>
                <span class="d-block g-color-white-opacity-0_8">Trong 2-3 Ngày</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
              <div class="media-body">
                <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Trả
                  Hàng</span>
                <span class="d-block g-color-white-opacity-0_8">hân Hạnh Được Phục Vụ</span>
              </div>
            </div>
            <!-- End Media -->
          </div>

          <div class="col-md-4 mx-auto g-py-20">
            <!-- Media -->
            <div class="media g-px-50--lg">
              <i
                class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
              <div class="media-body text-left">
                <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí 24</span>
                <span class="d-block g-color-white-opacity-0_8">Số Ngày Lưu Giữ</span>
              </div>
            </div>
            <!-- End Media -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Call to Action -->

    <!-- Footer -->
    <%- include('partials/footer'); %>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v2" href="#" data-type="fixed" data-position='{
           "bottom": 15,
           "right": 15
         }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>