<main>
    <!-- Header -->
    <%- include('partials/header'); %>
    <!-- End Header -->

    <!-- Breadcrumbs -->
    <section class="g-brd-bottom g-brd-gray-light-v4 g-py-30">
      <div class="container">
        <ul class="u-list-inline">
          <li class="list-inline-item g-mr-5">
            <a class="u-link-v5 g-color-text" href="/">Trang Chủ</a>
            <i class="g-color-gray-light-v2 g-ml-5 fa fa-angle-right"></i>
          </li>
          
          <li class="list-inline-item g-color-primary">
            <span>Đăng Ký</span>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Signup -->
    <section class="container g-pt-100 g-pb-20">
      <div class="row">
        <div class="col-lg-5 order-lg-2 g-mb-80">
          <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
            <header class="text-center mb-4">
              <h1 class="h4 g-color-black g-font-weight-400">Tạo Tài Khoản Mới</h1>
            </header>

            <!-- Form -->
            <form class="g-py-15" method="POST" action="/profile">
              <div class="row">
                <div class="col g-mb-20">
                  <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" name="FirstName" type="text" placeholder="Họ">
                </div>

                <div class="col g-mb-20">
                  <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15"  name="LastName" type="text" placeholder="Tên">
                </div>
              </div>

              <div class="form-group g-mb-20">
                <select class="js-custom-select u-select-v1 g-brd-gray-light-v3 g-color-gray-dark-v5 rounded g-py-12" style="width: 100%;"
                        data-placeholder="Giới Tính"
                        data-open-icon="fa fa-angle-down"
                        data-close-icon="fa fa-angle-up" name="Gender">
                  <option></option>
                  <option value="Male">Nam</option>
                  <option value="Female">Nữ</option>
                  <option value="Other">Khác</option>
                </select>
              </div>

              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6 g-mb-20">
                  <select class="js-custom-select u-select-v1 h-100 g-brd-gray-light-v3 g-color-gray-dark-v5 rounded g-py-12" style="width: 100%;"
                          data-placeholder="Month"
                          data-open-icon="fa fa-angle-down"
                          data-close-icon="fa fa-angle-up" name="Month">
                    <option></option>
                    <option value="January">Tháng 1</option>
                    <option value="February">Tháng 2</option>
                    <option value="March">Tháng 3</option>
                    <option value="April">Tháng 4</option>
                    <option value="May">Tháng 5</option>
                    <option value="June">Tháng 6</option>
                    <option value="July">Tháng 7</option>
                    <option value="August">Tháng 8</option>
                    <option value="September">Tháng 9</option>
                    <option value="October">Tháng 10</option>
                    <option value="November">Tháng 11</option>
                    <option value="December">Tháng 12</option>
                  </select>
                </div>

                <div class="col g-mb-20">
                  <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text" name="Day" placeholder="Ngày">
                </div>

                <div class="col g-mb-20">
                  <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text" name="Year" placeholder="Năm">
                </div>
              </div>

              <div class="g-mb-20">
                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text" name="Username" placeholder="Tên Đăng Nhập">
              </div>

              <div class="g-mb-20">
                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text" name="Email" placeholder="Địa Chỉ Email">
              </div>

              <div class="g-mb-20">
                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text" name="Password" placeholder="Mật Khẩu">
              </div>

              <div class="g-mb-20">
                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 rounded g-py-15 g-px-15" type="text" name="ConfirmPassword" placeholder="Xác Nhận Mật Khẩu">
              </div>

              <div class="mb-1">
                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-2">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" name="Rules">
                  <span class="d-block u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                  Tôi Đồng Với&nbsp<a href="#">Điều Khoản Và Chính Sách Bảo Mật</a>
                </label>
              </div>

              <div class="mb-3">
                <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-2">
                  <input class="g-hidden-xs-up g-pos-abs g-top-0 g-left-0" type="checkbox" name="Update">
                  <span class="d-block u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                    <i class="fa" data-check-icon="&#xf00c"></i>
                  </span>
                   Cập Nhật Tin Mới Nhất Hằng Ngày
                </label>
              </div>

              <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">Đăng Ký</button>
            </form>
            <!-- End Form -->
          </div>

          <div class="text-center">
            <p class="g-color-gray-dark-v5 mb-0">Bạn Đã Có Tài Khoản? 
              <a class="g-font-weight-600" href="/login">Đăng Nhập</a></p>
          </div>
        </div>

        <div class="col-lg-7 order-lg-1 g-mb-80">
          <div class="g-pr-20--lg">
            <div class="mb-5">
              <h2 class="h1 g-font-weight-400 mb-3">Chào Mừng Bạn Đến Với Smart Living</h2>
              <p class="g-color-gray-dark-v4">Đã đến lúc biến những ý tưởng và kế hoạch đó thành hiện thực. Đây là nơi chúng tôi thực sự đưa tới cho các bạn những sản phẩm nông nghiệp với chất lượng tuyệt vời nhất.</p>
            </div>

            <div class="row text-center mb-5">
              <div class="col-sm-4 g-mb-10">
                <!-- Counters -->
                <div class="g-bg-gray-light-v5 g-pa-20">
                  <div class="js-counter g-color-gray-dark-v5 g-font-weight-300 g-font-size-25 g-line-height-1">52147</div>
                  <div class="d-inline-block g-width-10 g-height-2 g-bg-gray-dark-v5 mb-1"></div>
                  <h4 class="g-color-gray-dark-v4 g-font-size-12 text-uppercase">Số Khách Hàng</h4>
                </div>
                <!-- End Counters -->
              </div>

              <div class="col-sm-4 g-mb-10">
                <!-- Counters -->
                <div class="g-bg-gray-light-v5 g-pa-20">
                  <div class="js-counter g-color-gray-dark-v5 g-font-weight-300 g-font-size-25 g-line-height-1">24583</div>
                  <div class="d-inline-block g-width-10 g-height-2 g-bg-gray-dark-v5 mb-1"></div>
                  <h4 class="g-color-gray-dark-v4 g-font-size-12 text-uppercase">Số Lượng Sản Phẩm</h4>
                </div>
                <!-- End Counters -->
              </div>

              <div class="col-sm-4 g-mb-10">
                <!-- Counters -->
                <div class="g-bg-gray-light-v5 g-pa-20">
                  <div class="js-counter g-color-gray-dark-v5 g-font-weight-300 g-font-size-25 g-line-height-1">7348</div>
                  <div class="d-inline-block g-width-10 g-height-2 g-bg-gray-dark-v5 mb-1"></div>
                  <h4 class="g-color-gray-dark-v4 g-font-size-12 text-uppercase">Thời Gian Hoạt Động</h4>
                </div>
                <!-- End Counters -->
              </div>
            </div>

            <div class="text-center">
              <!-- <h2 class="h4 g-font-weight-400 mb-4">Join more than
                <span class="g-color-primary">33,000</span> members worldwide</h2> -->
              <img class="img-fluid g-opacity-0_6" src="/public/images/img/maps/map.png" alt="Image Description">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Signup -->

    <!-- Call to Action -->
    <div class="g-bg-primary">
        <div class="container g-py-20">
          <div class="row justify-content-center">
            <div class="col-md-4 mx-auto g-py-20">
              <!-- Media -->
              <div class="media g-px-50--lg">
                <i
                  class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-048 u-line-icon-pro"></i>
                <div class="media-body">
                  <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Vận
                    Chuyển</span>
                  <span class="d-block g-color-white-opacity-0_8">Trong 2-3 Ngày</span>
                </div>
              </div>
              <!-- End Media -->
            </div>
  
            <div class="col-md-4 mx-auto g-brd-x--md g-brd-white-opacity-0_3 g-py-20">
              <!-- Media -->
              <div class="media g-px-50--lg">
                <i
                  class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-real-estate-040 u-line-icon-pro"></i>
                <div class="media-body">
                  <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí Trả
                    Hàng</span>
                  <span class="d-block g-color-white-opacity-0_8">hân Hạnh Được Phục Vụ</span>
                </div>
              </div>
              <!-- End Media -->
            </div>
  
            <div class="col-md-4 mx-auto g-py-20">
              <!-- Media -->
              <div class="media g-px-50--lg">
                <i
                  class="d-flex g-color-white g-font-size-40 g-pos-rel g-top-3 mr-4 icon-hotel-restaurant-062 u-line-icon-pro"></i>
                <div class="media-body text-left">
                  <span class="d-block g-color-white g-font-weight-500 g-font-size-17 text-uppercase">Miễn Phí 24</span>
                  <span class="d-block g-color-white-opacity-0_8">Số Ngày Lưu Giữ</span>
                </div>
              </div>
              <!-- End Media -->
            </div>
          </div>
        </div>
      </div>

    
    <!-- End Call to Action -->

    <!-- Footer -->
    <%- include('partials/footer'); %>
    <!-- End Footer -->

    <a class="js-go-to u-go-to-v2" href="#"
       data-type="fixed"
       data-position='{
         "bottom": 15,
         "right": 15
       }'
       data-offset-top="400"
       data-compensation="#js-header"
       data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>
